body {
    display:flex;
    background: linear-gradient(
    135deg,
    rgba(252, 228, 236, 0.65),
    rgba(248, 187, 208, 0.65),
    rgba(244, 143, 177, 0.65)
  );
    justify-content: center;
} 

.post {
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem 1.5rem;
  font-family: 'Poppins', sans-serif;
  animation: fadeUp 0.8s ease forwards; 
  border: white 5px solid;
  border-radius: 20px;
}

.post h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: #333;
}

.post p {
  font-size: 2rem;
  line-height: 1.2;
  color: #555;
  margin-bottom: 1.5rem;
  text-align: center;
}

.post img {
  max-width: 100%;
  border-radius: 20px;
  margin: 2rem 0;
}
