.gallery {
  padding: 4rem 8%;
  background: #fff;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.gallery-grid img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  transition: transform 0.3s ease;
}

.gallery-grid img:hover {
  transform: scale(1.03);
}

.gallery-btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 30px;
  background: #f48fb1;
  color: white;
  text-decoration: none;
  font-weight: 500;
}


@media (max-width: 900px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }
}
