.layer {
  position: fixed;
  inset: 0;
  display: flex;
  z-index: 0;
}

.layer video {
  width: 33.3333vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
  filter: blur(1px);
  mask-image: linear-gradient(
    to right,
    transparent,
    black 15%,
    black 85%,
    transparent
  );
}

.hero {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  font-family: 'Poppins', sans-serif;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(255, 225, 235, 0.65),
    rgba(255, 225, 235, 0.35),
    rgba(255, 200, 220, 0.55)
  );
  z-index: 1;
  pointer-events: none;
}

.hero > * {
  position: relative;
  z-index: 2;
}

.hero-content {
  max-width: 500px;
  text-shadow: 0 2px 6px rgba(0,0,0,0.25);
  
}

.hero-content h1 {
  animation: fadeUp 0.8s ease forwards;
} 
.hero h1 {
   font-family: 'Playfair Display', serif;
  font-size: 3.4rem;
  font-weight: 600;
  letter-spacing: -0.3px;
   animation: fadeUp 0.8s ease forwards;
}

.hero h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  opacity: 0.9;
}
.hero-content h2 {
  animation: fadeUp 0.9s ease forwards;
}

.hero p {
  font-size: 0.95rem;
  opacity: 0.85;
}

.hero-content p {
  animation: fadeUp 1s ease forwards;
}

.hero-btn {
  display: inline-block;
  background: #f48fb1;
  color: white;
  padding: 0.9rem 2rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  margin-right: 2em;
  margin-bottom:10px ;
  box-shadow: 0 10px 25px rgba(244, 143, 177, 0.35);
}

.hero-btn {
  animation: fadeUp 1.1s ease forwards;
}

.hero-btn:hover {
  background: #ec407a;
  transform: translateY(-2px);
  box-shadow: 0 14px 30px rgba(236, 64, 122, 0.45);
}

.hero-image img {
  width: 300px;
  transform: scale(0.9);
  max-width: 100%;
  border-radius: 30px;
  animation: fadeIn 3s ease forwards;
}





@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    padding: 3rem 2rem;
    height: 100vh;
  }

  .hero-image {
    margin-bottom: 2rem;
  }

  .hero h1 {
    font-size: 2.4rem;
  }
}



@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
