.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 8%;
  background-image: url('../assets/images/493505649_29142565658725408_8769198779357866367_n.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(252, 228, 236, 0.65),
    rgba(248, 187, 208, 0.65),
    rgba(244, 143, 177, 0.65)
  );
  z-index: 1;
}

.hero > * {
  position: relative;
  z-index: 2;
}
.hero-content {
  max-width: 500px;
  
}

.hero-content h1 {
  animation: fadeUp 0.8s ease forwards;
} 
.hero h1 {
  font-size: 3.2rem;
  font-weight: 600;
  color: #2f2f2f;
  letter-spacing: -0.5px;
  margin-bottom: 0.5rem;
}

.hero h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #555;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}
.hero-content h2 {
  animation: fadeUp 0.9s ease forwards;
}

.hero p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.hero-content p {
  animation: fadeUp 1s ease forwards;
}

.hero-btn {
  display: inline-block;
  background: #f48fb1;
  color: white;
  padding: 0.9rem 2rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  margin-right: 2em;
  margin-bottom:10px ;
}

.hero-btn {
  animation: fadeUp 1.1s ease forwards;
}

.hero-btn:hover {
  background: #ec407a;
  transform: translateY(-2px);
}

.hero-image img {
  width: 420px;
  max-width: 100%;
  border-radius: 30px;
  animation: fadeIn 3s ease forwards;
}





@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    padding: 3rem 2rem;
  }

  .hero-image {
    margin-bottom: 2rem;
  }

  .hero h1 {
    font-size: 2.4rem;
  }
}



@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
